<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bookshop</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    
    <div id="app">

        <nav class="nav">
            <div class="site-logo">
                <img v-bind:src="siteLogo">
            </div>
            <div class="search-wrapper">
                <input type="text" v-model="search" placeholder="Search title.."/>
            </div>
            <div class="nav__cart">
                <button @click="showCart = !showCart">
                    <i class="bi bi-cart-fill"></i>
                </button>
                <span class="total-quantity">{{ totalQuantity }}</span>
                <div v-if="showCart" class="cart-dropdown">
                  <ul class="cart-dropdown__list">
                    <li
                      v-for="book in cart"
                      :key="book.id"
                    >
                      {{ book.title }} ({{ book.quantity }})
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        
        <div class="intro-text"> 
            <h1>Unsere Bücher Selektion</h1>
            <p>Aus langjähriger Erfahrung bieten wir eine eine handverlesene Auswahl der Creme de la Creme der Literaturwelt. Alle Werke werden erst nach gründlicher Analyse und anschließender Bewertung unseres Fachteams in die Sammlung aufgenommen. So finden sie immer das richtige Buch und müssen sich dennoch nicht allein durch den schieren Urwald der Bücher dieser Welt kämpfen.</p>
        </div>
        
        <section class="products">
            <div  v-for="book in books" :key="book.id" class="product-display">
                <div class="product-image">
                    <img v-bind:src="book.image">
                </div>
                <div class="product-details">
                    <h1>{{ book.title }}</h1>
                    <h2>{{ book.author }}</h2>
                    <p v-if="book.quantity > 5">In Stock</p>
                    <p v-else-if="book.quantity <= 5 && book.quantity > 0">Almost sold out</p>
                    <p v-else>Out of Stock</p>
                    <button @click="updateCart(book, 'add')" class="cart__button">+</button>
                    <button @click="updateCart(book, 'subtract')" class="cart__button">-</button>
                    <p>{{ book.price }} €</p>
                </div>
            </div>
        </section>
        

    </div>
   

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>

  </body>
</html>
